/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* PAGE */
body {
  background: #000;
  display: flex;
  justify-content: center;
  padding: 30px;
}

/* MAIN CONTAINER */
.container {
  width: 350px;
  margin-top: 100px; 
}

/* FIXED HEADER */
.header {
  background: #d63031;
  padding: 8px 14px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 340px;
  z-index: 1000;
}

/* LOGO CONTAINER */
#logo {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: visible;
}

/* BIG LOGO WITHOUT CHANGING HEADER HEIGHT */
#logo img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -52%);
}

/* INPUT FIELDS */
input,
textarea {
  width: 100%;
  background: #262626;
  border: none;
  padding: 12px;
  color: white;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 15px;
}

textarea {
  height: 150px;
  resize: none;
}

/* BUTTONS */
.create-btn,
.update-btn {
  width: 100%;
  padding: 12px;
  background: #d63031;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  margin: 10px 0 20px;
}

.update-btn {
  background: #27ae60;
}

/* NOTE CARD */
.note-card {
  background: #262626;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: white;
  width: 340px;
  height: 77px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE (TITLE + DATE) */
.note-left {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.note-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

.note-date {
  font-size: 12px;
  opacity: 0.7;
}

/* RIGHT SIDE ICONS */
.note-actions {
  display: flex;
  gap: 10px;
}

.note-actions i {
  font-size: 18px;
  cursor: pointer;
  background: #111827;
  padding: 7px;
  border-radius: 5px;
}

/* FOOTER */
.footer {
  color: gray;
  font-size: 13px;
  text-align: center;
  margin-top: 30px;
}
